.output {
  color: green;
  background-color: black;
}

.sourceCode {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mdframed {
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.codeout {
  background-color: #F0F0F0;
}